<ion-header>
  <ion-toolbar class="ion-text-center toolbar-color">
    <ion-title class="app-title">Alarma App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin-top">
    <img src="assets/icon/alarmaApp.png" class="ion-margin" width="40%" height="40%"/>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-title class="title">Ingrese su correo eléctronico <br>y contraseña para continuar</ion-title>
  </ion-row>

  <form [formGroup]="formRegistro">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
                
        <ion-col class="ion-text-center ion-align-items-center">
          
          <ion-item class="input">
            <ion-input label="Correo eléctronico" label-placement="floating" placeholder="Correo" type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-text *ngIf="formRegistro.controls['email'].errors?.['required'] && formRegistro.controls['email'].touched" class="error">Debe ingresar un correo</ion-text>

          <ion-item class="ion-margin-top input">
            <ion-input label="Contraseña" label-placement="floating" placeholder="Contraseña" type="password" formControlName="pass"></ion-input>
          </ion-item>

          <ion-text *ngIf="formRegistro.controls['pass'].errors?.['required'] && formRegistro.controls['pass'].touched"  class="error">Debe ingresar una contraseña</ion-text>

          <ion-text *ngIf="formRegistro.controls['pass'].errors?.['minlength']"  class="error">Debe tener 6 caracteres mínimo</ion-text>

        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="ion-text-center ion-margin-top">
          <ion-button [disabled]="formRegistro.invalid" expand="full" size="large" (click)="login()" class="ingresar">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-title class="fast-login">Acceso Rápido</ion-title>
      <ion-segment [scrollable]="true" value="heart">
        <ion-segment-button value="home" (click)="logueoRapido('admin@admin.com','123456')">
          <ion-icon color="warning" name="person-circle"></ion-icon>
          <p class="subtitle">Admin</p>
        </ion-segment-button>
        <ion-segment-button value="usuario" (click)="logueoRapido('usuario@usuario.com','123456')">
          <ion-icon color="warning" name="people"></ion-icon>
          <p class="subtitle">Usuario</p>
        </ion-segment-button>
        <ion-segment-button value="pin" (click)="logueoRapido('juan@gmail.com','solano823')">
          <ion-icon color="warning" name="person"></ion-icon>
          <p class="subtitle">Alumno</p>
        </ion-segment-button>
        <ion-segment-button value="star" (click)="logueoRapido('invitado@invitado.com','123456')" >
          <ion-icon color="warning" name="accessibility"></ion-icon>
          <p class="subtitle">Invitado</p>
        </ion-segment-button>
      </ion-segment>
    </ion-grid>
  </form>
</ion-content>