ion-content{
    --background: #BF4342;
}
.toolbar-color{
    --background: #76d3bd;
    --color: rgb(250, 208, 106);
   
}
.app-title{
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.56);
}
.ion-margin{
    margin-right: 60px;
    filter: drop-shadow(12px 10px 10px #000000);
}
.ion-justify-content-center{
    text-align: center;
}
.ingresar,.input{
    --background: rgb(118, 211, 189);
}
.ingresar{
    font-family: 'Courier New', Courier, monospace;
    height: 120px;
}
.title{
    --color: rgb(250, 208, 106);
    font-weight: bolder;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.56);
}
ion-input{
    --border: none;
    --color: rgb(230, 146, 62);
    font-weight: 800;
}
.error{
    color: rgb(118, 211, 189);
}
.fast-login{
    margin-top: 20px;
}
.ion-margin-top{
    margin-top: 65px;
}
.bottom-button{
    width: 100%;
    position: absolute;
    bottom: 19px;
  }
