ion-content{
    --background: #BF4342;
}
.toolbar-color{
    --background: #003049;
}
.ion-margin{
    filter: drop-shadow(12px 10px 10px #000000);
}
.ion-justify-content-center{
    text-align: center;
}
.ingresar{
    --background: #003049;
}
.title{
    --color: #003049;
    font-weight: bolder;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.56);
}
.input{
    --background: #003049;
}