<ion-header>
  <ion-toolbar class="ion-text-center toolbar-color">
    <ion-title class="app-title">Alarma App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin-top">
    <img src="assets/icon/alarmaApp.png" class="ion-margin" width="40%" height="40%"/>
  </ion-row>
  
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-title class="title">Ingrese su correo eléctronico <br>y contraseña para continuar</ion-title>
  </ion-row>

  <form [formGroup]="formRegistro">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
                
        <ion-col size="7" class="ion-text-center ion-align-items-center">
          
          <ion-item class="input">
            <ion-input label="Correo eléctronico" label-placement="floating" placeholder="Correo" type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-text *ngIf="formRegistro.controls['email'].errors?.['required'] && formRegistro.controls['email'].touched" class="error">Debe ingresar un correo</ion-text>

          <ion-item class="ion-margin-top input">
            <ion-input label="Contraseña" label-placement="floating" placeholder="Contraseña" type="password" formControlName="pass"></ion-input>
          </ion-item>

          <ion-text *ngIf="formRegistro.controls['pass'].errors?.['required'] && formRegistro.controls['pass'].touched"  class="error">Debe ingresar una contraseña</ion-text>

          <ion-text *ngIf="formRegistro.controls['pass'].errors?.['minlength']"  class="error">Debe tener 6 caracteres mínimo</ion-text>

        </ion-col>
        <ion-col size="5" class="ion-text-center">
          <ion-button  expand="full" color="medium" class="ion-button--round fast-login"(click)="logueoRapido('admin@admin.com','123456')">Administrador</ion-button>
          <ion-button  expand="full" color="dark" class="ion-button--round fast-login"(click)="logueoRapido('usuario@usuario.com','123456')">Usuario</ion-button>
          <ion-button  expand="full" color="medium" class="ion-button--round fast-login"(click)="logueoRapido('juan@gmail.com','solano823')">Alumno</ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="ion-text-center ion-margin-top">
          <ion-button [disabled]="formRegistro.invalid" expand="full" size="large" (click)="login()" class="ingresar">Ingresar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>