ion-content{
  --background: #BF4342;
  text-align: center;
}
.toolbar-color{
  --background: #76d3bd;
  --color: rgb(250, 208, 106); 
  text-shadow: 4px 3px 6px rgba(0,0,0,0.88),
  4px 3px 3px rgba(0,0,0,0.88),
  4px 3px 16px rgba(0,0,0,0.88);
}
.title-container{
  filter: drop-shadow(12px 10px 10px #000000);
  padding: 10px;
}
img{
  filter: drop-shadow(12px 10px 10px #000000);
  cursor: pointer;
}
.container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #fad06a;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.bottom-button{
  width: 100%;
  position: absolute;
  bottom: 9px;
}