
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="ion-text-center toolbar-color">
      <ion-title *ngIf="!activado" class="title-container">Presione para activar</ion-title>    
      <ion-title *ngIf="activado" class="title-container">Presione para desactivar</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="container">
    
    <img *ngIf="!activado" src="assets/power-on.png" alt="boton-activar" (click)="onoff()">
    

    <img *ngIf="activado" src="assets/power-off.png" alt="boton-activar" (click)="onoff()">

  </div>
  
  <div class="bottom-button">
    <ion-button expand="full" color="primary" title="Cerrar sesión" (click)="cerrarSesion()">
      Cerrar Sesión
    </ion-button>
  </div>

</ion-content>